header {
    position: absolute; 
    top: 1.5%;
    height: 50px;      
    width: 100%;

 
  }
  

  header div{
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 3px;       
    width: 300px;        
    text-align: center;  
    border: 1px solid #ccc;
    border-radius: 10px;

   }
   .titulo h1{
    font-size: 3rem;
   }

   #encabezado{
    font-size: 1.8rem;
   }
   .boton2{
    font-size: 1.8rem;
   }

   .opcion{
    font-size: 1.8rem;
   }