* {
    transition: all 0.25s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    font-family: 'Bevellier', sans-serif;
    font-size: 52.5%;
  }
  header {
    position: absolute; 
    top: 3%;
    height: 100px;      
    width: 100%;

 
  }
   header div{
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px;       
    width: 300px;        
    text-align: center;  
    border: 1px solid #ccc;
    border-radius: 10px;

   }
   .titulo h1{
    position: relative;
    font-weight: bold;
    font-size: 4rem;
    overflow: hidden;
   }
   .titulo h1::before{
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(98deg, transparent 0%, white 5%, white 100%);
    animation: animate 10s linear infinite;
   }
   @keyframes animate {
    0% {
        left: -20%;
    }

    50% {
        left: 120%;
    }

    100% {
        left: -20%;
    }
}

  body {
    /* background-color: #FBE4D8; */
    /*background-color: #f3d2c1; */
    background: linear-gradient(228deg, #012891 11.19%, #4eb1c8 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  #tablero-de-juego{
    width: 90%;
    padding-top: 20px;
  }
  
  #encabezado {
    width: auto;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #001858;
  }
  
  .opcion {
    text-align: center;
    /* width: 70vw; */
    background: #fef6e4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 2.1rem;
    font-weight: 400;
  }
  
  .opcion:hover{
       background: lightgray;
  }
  button{
    font-family: 'Bevellier', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	background: #141414;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
  }
  /*Estilo boton Ayuda */
  .boton2{
    padding: 5px;
    background: none;
    color:  #001858;
    font-size: 2rem;
 }
 .boton2 svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
 }

 .boton2 rect{
    width: 100%;
    height: 100%;
    stroke: #001858;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: 1.5s ease all;
 }

 .boton2:hover rect{
    stroke-dashoffset: 0;
 }
 .swal2-popup {
    font-size: 1.8rem !important;
    
  }